.vs/
Binaries/
DerivedDataCache/
Content/
Intermediate/
Platforms/
Saved/
LocalBuilds/
enc_temp_folder/
AI_MAP/*.vsconfig
AI_MAP/*.sln
AI_MAP/*.pdb
*.csproj.*
.vs/*
*.suo
*.opensdf
*.sdf
*.tmp
*.mdb
*/obj/*
*-Debug.*
/FileOpenOrder/
*.xcworkspace
*.xcodeproj
./Makefile
./CMakeLists.txt
.ue4dependencies
Samples/*
FeaturePacks/*
Engine/Documentation/*
.git/*
*.csprojAssemblyReference.cache
*.md
*.gitignore
*.htm